!!!
html(lang='#{lang}', dir='#{lang_dir}')
  head
    include includes/head
    block dashboard_header

  body
    #outer-wrapper
      #wrapper
        .wrapper-container
          header(id='masthead')
            a(href='http://www.mozilla.org/', id='tabzilla')= gettext('Mozilla')
            nav(id='nav-main', role='navigation')
              ol
                li
                  a(href='http://www.mozilla.org/mission/')= gettext('Mission')
                li
                  a(href='http://www.mozilla.org/about/')= gettext('About')
                li
                  a(href='http://www.mozilla.org/projects/')= gettext('Projects')
                li
                  a(href='http://www.mozilla.org/contribute/')= gettext('Get Involved')

          block content

      block footer
        footer(id='colophon')
          .row
            .span3
              a(href='http://www.mozilla.org/en-US/', class='footer-logo')
                img(src='//www.mozilla.org/media/img/sandstone/footer-mozilla.png', alt='mozilla')


            nav(class='span2')
              ul
                li
                  a(href='http://www.mozilla.org/en-US/about/contact.html#map-mountain_view')
                    = gettext('Contact Us')
                li
                  a(href='http://www.mozilla.org/en-US/privacy-policy.html')
                    = gettext('Privacy Policy')
                li
                  a(href='http://www.mozilla.org/en-US/about/legal.html')
                    = gettext('Legal Notices')
                li
                  a(href='http://www.mozilla.org/en-US/legal/fraud-report/index.html')
                    = gettext('Report Trademark Abuse')

            nav(class='span2')
              ul
                li
                  if session.email
                    a(href='/logout')= gettext('Log out')
                  else
                    a(href='#', id='login')
                      img(src='../images/persona-button.png')
                    form(method='post', action='/login', class='login')
                      input(type='hidden', name='bid_assertion', value='1')
                      input(type='hidden', name='_csrf', value='#{token}')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src='//www.mozilla.org/tabzilla/media/js/tabzilla.js')

        if session.email
          script(src='../javascripts/lib/base32.js')
          script(src='../javascripts/lib/icongrid.js')
          script(src='//myapps.mozillalabs.com/jsapi/include.js')
          script(src='../javascripts/lib/jibe.js')

        script(src='https://browserid.org/include.js', type='text/javascript')
        script(src='../javascripts/i18n/#{locale}/messages.json')
        script(src='../javascripts/lib/gettext.js')
        script(src='../javascripts/main.js')
